NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# IMAGE UPLOADS & DISPLAY - Sanity.io
NEXT_PUBLIC_SANITY_PROJECT_ID=""
NEXT_PUBLIC_SANITY_DATASET=""
SANITY_WRITE_TOKEN=""

# AUTH
GOOGLE_CLIENT_ID=""
GOOGLE_SECRET=""

# For local development, using Mailpit - notice we don't pass username or password
SMTP_HOST="localhost"
SMTP_PORT=1025
SMTP_SECURITY="STARTTLSOrPlainText"
SMTP_VALIDATE_CERTS=false

# For the yt-analyzer script
GOOGLE_DATA_API_KEY=""

# Only for production:
# HONEYCOMB_API_KEY=""
# HONEYCOMB_DATASET=""
